<div id="footer" class="panel">
  <div class="panel-footer">
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-6">
			
		  <p>&copy 2020 Computational Intelligence Laboratory </p>
              <p>We are part of the <a href="https://ee.yonsei.ac.kr/ee_en/index.do">Yonsel University School of Electrical and Electronic Engineering </a> at <a href="https://www.yonsei.ac.kr/en_sc/">Yonsei University</a>.</p>
            

		   <p>  </p><p>
            		  
            
		</div>

		<div class="col-sm-6">
		  Contact:<br />
		  C607, 3rd Engineering building, Yonsei University<br />
		  50, Yonsei-ro, Seodaemun-gu, Seoul<br />
		  Republic of Korea<br />
            (<a href="https://goo.gl/maps/4JruPhYffWUJKchV8">Maps</a>)
		</div>
	  </div>
	</div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="{{ site.url }}{{ site.baseurl }}/js/bootstrap.min.js"></script>
