<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	  </button>
	
    <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">CILAB @ Yonsei University</a>
	</div>
	<div class="collapse navbar-collapse" id="navbar-collapse-1">
	  <ul class="nav navbar-nav navbar-right">
		<li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/research">Research</a></li>
		<li class="dropdown">
			<a href="{{ site.url }}{{ site.baseurl }}/members" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Members <span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="{{ site.url }}{{ site.baseurl }}/members">Current Members</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/alumni">Alumni</a></li>
			</ul>
			</li>
		<li class="dropdown">
			<a href="{{ site.url }}{{ site.baseurl }}/int_journal" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Publications <span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="{{ site.url }}{{ site.baseurl }}/int_journal">International Journal</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/int_conference">International Conference</a></li>
			<li role="separator" class="divider"></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/dom_journal">Domestic Journal</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/dom_conference">Domestic Conference</a></li>
			</ul>
			</li>
		<li class="dropdown">
			<a href="{{ site.url }}{{ site.baseurl }}/pat_registation" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Patents <span class="caret"></span></a>
			<ul class="dropdown-menu">
			<li><a href="{{ site.url }}{{ site.baseurl }}/patents_registration">Registration</a></li>
			<li><a href="{{ site.url }}{{ site.baseurl }}/patents_application">Application</a></li>
			</ul>
			</li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/courses">Courses</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/honer_award">Honer/Award</a></li>
		<li><a href="{{ site.url }}{{ site.baseurl }}/projects">Projects</a></li>

			
	  </ul>
	</div>
  </div>
</div>
